
<style>
 .added-author{
   padding: 10px 15px;
   border-bottom: 1px solid #fff;
 }
 .added-author-details{
    display: flex;
 }
 .added-author select{
   background: fff;
   border-radius: 4px;
   height: 25px;
   min-width: 40px;
 }

.added-author.btn{
  padding: 3px 10px;
}
 .author-suggestion{
   background: white;
   z-index: 1000;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-top: none;
 }
 
 .author-querybox{
   border-bottom-left-radius: 0;
   border-bottom-right: 0;
 }
 .suggested-user{
   padding: 10px;
 }
 .suggested-user:hover{
   cursor: pointer;
   background: #ccc;
 }

 .added-author-list{
   padding: 10px 15px;
 }
 .added-author-affiliation{
   margin: 10px 0;
 }
</style>
<!-- PAGE CONTENTS  -->
<div class="row">
  <div ng-controller="abstractFormController">
    {{formData}}
    <div class="alert alert-warning">
      The fields with <span class="glyphicon glyphicon-warning-sign"></span> are required! 
    </div>
    <form novalidate name="abstractForm">
      <!-- Title  -->
      <div class="form-group has-feedback" 
	   ng-class="{ 'has-warning': abstractForm.title.$invalid, 
	   'has-error' : abstractForm.title.$invalid && !abstractForm.title.$pristine, 
	   'has-success': abstractForm.title.$valid}">
        <input type="text" class="form-control" ng-model="formData.title" 
	       name="title" placeholder="Title of the abstract" required>
	<span class="glyphicon glyphicon-warning-sign form-control-feedback" 
	      ng-show="abstractForm.title.$pristine" aria-hidden="true"></span>
	<span ng-show="abstractForm.title.$invalid && abstractForm.title.$dirty" 
	      class="glyphicon glyphicon-remove form-control-feedback"></span>
	<span ng-show="abstractForm.title.$valid" 
	      class="glyphicon glyphicon-ok form-control-feedback"></span>
        <div ng-show="abstractForm.title.$invalid && abstractForm.title.$dirty"
	     class="help-block">
	  <div ng-show="abstractForm.title.$error.required">Title of the abstract is required!</div>
	</div>
      </div>      
      <!--Author Affilations-->

      <!-- Show the list of authors added -->
      <div class="added-author-list box">
	<div ng-show="formData.authors.length > 0" style="margin: 10px 0">
	  <div>
	    <b>Authors (Please mention the preference of each other.)</b>
	  </div>
	  <div>
	    <div ng-repeat="author in formData.authors">
	      <div class="added-author">
		<div class="added-author-details">
		  <div>
		    <span>
		      <select ng-model="author.order"
			      ng-change="changeOrder(x, author)"
			      ng-options="x for x in [] | range:1:6">
		      </select>
		    </span>
		    <span style="margin-left: 20px">{{author.firstname + ' ' + author.lastname}}</span>
		  </div>
		  <div style="margin-left: auto">
		    <input type="checkbox" ng-click="makePresenter(author.username)" ng-checked="author.presenter"> Presenter
		    <button ng-click="removeAuthor(author)" class="btn" style="margin-left: 10px;">Remove</button>
		  </div>
		</div>
		<div>
		  <div ng-repeat="affiliation in author.affiliations" class="added-author-affiliation">
		    <span class="glyphicon glyphicon-remove" ng-click="removeAffiliation(author)"></span>
		    <span>
		      {{getUserDiscipline(affiliation.discipline)}}
		    </span>
		    <span ng-show="getUserDepartment(affiliation.department)">
		      , Department of {{getUserDepartment(affiliation.department)}}
		    </span>
		    <span ng-if="affiliation.institution != 1">
		      , {{getUserInstitution(affiliation.institution)}}
		    </span>
		    <span ng-if="affiliation.institution == 1 && affiliation.instname ">
		      , {{affiliation.instname}}, {{affiliation.instcity}}, {{affiliation.inststate}} {{affiliation.instzip}}
		    </span>
		  </div>
		  <div>
		    <button ng-click="addNewAffiliation(author)" affiliation-modal>Add affiliation</button>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Add author button -->
	  <div style="margin-top: 5px;" ng-show="!addAuthor">
	    <button class="btn btn-default" ng-click="showAddAuthorForm()">Add Author</button>
	  </div>
	</div>
      

      <!-- Add author sub form -->
      
      <div ng-show="addAuthor" 
	   style="padding:10px 15px; margin-bottom: 10px; border: 1px solid #ddd; background:#ddd">
	<div ng-show="!authorNotListed">
	  <div class="alert alert-success">
	    <p>
	      Type the name of author to filter among other authors.
	      If you do not see author listed, We strongly encourage to
	      askyour friend to signup for the FRS. This saves the 
	      significant amount time for your application process!
	      If your friend is not from Fisk and is not presenting
	      at FRS-2015, you can add your friend by clicking the 
	      Not Listed button below. 
	    </p>
	    <p style="color: red">
	      <b>Important!</b>
	      Please add the authors in the order of importance. 
	      For example, second author should always be added before the third.
	    </p>
	  </div>
	  <div>
	    <input type="text" class="form-control author-querybox" ng-model="query" placeholder="Enter the name of author to filter form other.">
	  </div> 
	  <div class="author-suggestion">
	    <div ng-repeat="user in users | orderBy:'user.firstname'| filter:query">
	      <div class="suggested-user" ng-click="addAuthorToList(user)">
		<div>
		  <b>{{user.firstname}} {{user.lastname}}</b>
		</div>
		<div>{{getUserAffiliation(user)}}</div>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="form-group has-feedback col-md-4" ng-show="authorNotListed"
	       ng-class="{ 'has-warning': abstractForm.firstname.$invalid, 
			 'has-error' : abstractForm.firstname.$invalid && !abstractForm.firstname.$pristine, 
			 'has-success': abstractForm.firstname.$valid}">
	    <input type="text" class="form-control" ng-model="authorFormData.firstname" name="firstname" placeholder="First Name" required>
	    <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
		  ng-show="abstractForm.name.$pristine" aria-hidden="true"></span>
	    <span ng-show="abstractForm.name.$invalid && abstractForm.name.$dirty" 
		  class="glyphicon glyphicon-remove form-control-feedback"></span>
	    <span ng-show="abstractForm.name.$valid" 
		  class="glyphicon glyphicon-ok form-control-feedback"></span>
	    <div ng-show="abstractForm.name.$invalid && abstractForm.name.$dirty"
		 class="help-block">
	      <div ng-show="abstractForm.firstname.$error.required">
		The Full Name name is required!
	      </div>
	    </div>
	  </div>

	  <div class="col-md-2" ng-show="authorNotListed">
	    <input type="text" class="form-control" placeholder="Middle Name" mg-model="authorFormData.middlename"> 
	  </div>
	  <div class="col-md-4" ng-show="authorNotListed" 
	       ng-class="{'has-error': abstractForm.lastname.$invalid,
			 'has-success': abstractForm.lastname.$valid}">
	    <input type="text" class="form-control" placeholder="Last Name" 
		   ng-model="authorFormData.lastname" name="lastname" required>
	  </div>
	</div>
	<div class="form-group has-feedback" ng-show="authorNotListed"
	     ng-class="{'has-error': abstractForm.email.$invalid, 
		       'has-success': abstractForm.email.$valid}">
	  <input type="email" class="form-control" 
		 name="email" ng-model="authorFormData.email" 
		 placeholder="Author's Email" required> 
	</div>
	
	<div class="form-group"
	     ng-show = "authorNotListed"
	     ng-class="{'has-warning': !abstractForm.discipline.$dirty, 
		       'has-error': abstractForm.discipline.$invalid && abstractForm.discipline.$dirty,
		       'has-success': abstractForm.discipline.$valid}">
	  <select name="discipline" class="form-control" 
		  ng-model="authorFormData.discipline"
		  ng-options="discipline.id as discipline.name for discipline in disciplines | orderBy: 'name'" required>
	    <option value="">Plese select author's discipline.</option>
	  </select>
	</div>

	
	<div class="form-group" ng-show="authorNotListed"
	     ng-class="{'has-error': abstractForm.institution.$invalid,
		       'has-success': abstractForm.institution.$valid}">
	  <select name="institution" class="form-control" 
		  ng-model="authorFormData.institution"
		  ng-options="institution.id as institution.name for institution in institutions | orderBy: 'name'" required>
	    <option value="">Plese select institution of the author.</option>
	  </select>
	</div>
	
	<div class="form-group" ng-show="authorNotListed && authorFormData.institution == '2'"
	     ng-class="{'has-error': abstractForm.department.$invalid,
		       'has-success': abstractForm.department.$valid}">
	  <select name="department" class="form-control" 
		  ng-model="authorFormData.department"
		  ng-options="department.id as department.title for department in departments | orderBy: 'title'" required>
	    <option value="">Plese select Department of the author.</option>
	  </select>
	</div>
	
	     <!-- Add institution sub form -->

      <div ng-show="authorFormData.institution == '1'">
	  <div>
	    <div class="has-feedback form-group" 
		 ng-class="{'has-error': abstractForm.instName.$invalid && !abstractForm.instName.$dirty,
			   'has-warning': abstractForm.instName.$invalid && abstractForm.instName.$dirty,
			   'has-success': abstractForm.instName.$valid
			   }">
	      <input type="text" class="form-control" 
		     placeholder="Name of Institution" 
		     name="instName"
		     ng-model="authorFormData.instname"
		     required>
	    </div>
	    <div class="row form-group">
	       <div class="col-md-3"
		   ng-class="{'has-error': abstractForm.instCity.$invalid && !abstractForm.instCity.$dirty,
			     'has-warning': abstractForm.instCity.$invalid && abstractForm.instCity.$dirty,
			     'has-success': abstractForm.instCity.$valid
			     }">
		<input type="text" class="form-control" name="instCity" ng-model="authorFormData.instcity" placeholder="City" required>
	      </div>


 <div class="col-md-3"
		   ng-class="{'has-error': abstractForm.instState.$invalid && !abstractForm.instState.$dirty,
			     'has-warning': abstractForm.instState.$invalid && abstractForm.instState.$dirty,
			     'has-success': abstractForm.instState.$valid
			     }">
		<input type="text" class="form-control" name="instState" ng-model="authorFormData.inststate" placeholder="State" required>
	      </div>
	      <div class="col-md-3"
		   ng-class="{'has-error': abstractForm.instZip.$invalid && !abstractForm.instZip.$dirty,
			     'has-warning': abstractForm.instZip.$invalid && abstractForm.instZip.$dirty,
			     'has-success': abstractForm.instZip.$valid
			     }">
		
		<input type="text" class="form-control" name="instZip" placeholder="Zip" ng-model="authorFormData.instzip" required>
	      </div>
	    </div>
	  </div>
	</div>


	<button class="btn btn-primary" ng-click="addAuthorToList()" 
		ng-show="authorNotListed" ng-disabled="!authorFormIsValid()">
	  Add new Author 
	</button>
	<button class="btn btn-primary" ng-click="showAddNewAuthorForm()"
		ng-show="!authorNotListed"> Not in List </button>
	<button class="btn btn-primary" ng-click="cancelAddingAuthor()">Cancel</button>
      </div>	
     
      <!-- Type of presentation  -->
      <div class="form-group has-feedback" 
	   ng-class="{'has-warning': abstractForm.type.$invalid,
		     'has-error': abstractForm.type.$invalid && absractForm.$dirty,
		     'has-succes': abstrctForm.type.$valid}">
	<select ng-model="formData.type" class="form-control" name="type" required="">
	  <option value="">Select the type of presentation</option>
	  <option value="oral">Oral Presentation</option>
	  <option value="paper">Paper Presentation</option>
	  <option value="demo">Demo Presentation</option>
	</select>	
      </div>

      
      <!-- Advisor -->
      <div class="form-group" ng-class="{'has-warning': abstractForm.advisor.$invalid,
	   'has-error': abstractForm.advisor.$invalid && abstractForm.advisor.$dirty,
	   'has-success': abstractForm.advisor.$valid}">
	<div ng-controller="advisorSelectController">
	  <select class="form-control has-error" 
		  ng-model="formData.advisor" name="advisor" 
		  ng-options="advisor.email as advisor.firstname + ' ' + advisor.lastname for advisor in advisors | orderBy: 'firstname'" required="">
	    <option value=""> Select the advisor (Note Advisor will be notified!) </option>
	</select>
	<span class="glyphicon glyphicon-warning-sign form-control-feedback" 
	      ng-show="abstractForm.advisor.$pristine" aria-hidden="true"></span>
	<div ng-show="abstractForm.advisor.$invalid && abstractForm.advisor.$dirty">
	  <div class="help-block">
	    We require this field as asvisior has to aprove the abstract to be considered for RFS.
	  </div>
	</div>
	</div>
	<div ng-show="abstractForm.advisor.$invalid" class="alert alert-success">
	  If you did not see your advisor listed please contact us first.
	</div>
      </div>
      <!-- External Advisor -->
      <div class="form-group">
	<input type="text" class="form-control" ng-model="formData.mentor" placeholder="External Advisior/Mentor(if applicable)">
      </div>
      <!-- Abstract body -->
      <div class="form-group" ng-class="{'has-error': abstractForm.abstractBody.$invalid}">
        <textarea ui-tinymce data-ng-model="formData.abstract" name="abstractBody" required> </textarea>
      </div>

      <!-- Funding -->
      <div class="form-group">
	<input type="text" ng-model="formData.funding" name="funding" placeholder="Funding Source and Award Number e.g. NSF #1332432 (Seperate with comma if multiple)" class="form-control">
      </div>

      <!-- Warning  -->
      <div class="alert alert-danger" role="alert" ng-show="!abstractFormIsValid()">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<strong> The submit button will only work if you fill the abstract form correctly. 
	  Please refer to the abstract submmiting guide lines found <a class="fake-link" open-modal> here </a> if you need any help.
	</strong>
      </div>
      
      <!-- Reminders -->
      <div class="alert alert-success" role="alert" ng-show="abstractFormIsValid()">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	It seems you correctly filled all the fields. Please note following:
	<ul>
	  <li> 
	    We encourage to review the abstract carefully  as the submission will be final.
	  </li>
	  <li>
	    Only your advisor will have the permission to edit the abstract.
	  </li> 
	  <li>
	    Also, it is very important that you ask your advisor to aprove the abstract. 
	    If your advisor fails to approve for any reason, your abstract will not be considered for the event!
	  </li>
	<br>
	<b>
	  Wait! Does your abstract meets <a class="fake-link" open-modal>these</a> guidelines. If not please go ahead and edit them before continuing!
	</b>
      </div>
      <br>
      <div class="alert alert-danger" ng-show="errors">
	<ol>
	  <li ng-repeat="error in errors"> {{error}} </li>
	</ol>
      </div>
      <div class="form-group">
	  <button type="submit" class="btn btn-primary" ng-click="submitAbstract()" ng-disabled="!abstractFormIsValid()">Submit</button>
     </div>
    </form>
  </div>
</div>

