<div ng-include="app/shared/navbar/navBarView.html"></div>

<div>
  <div class="abstract-header row">
    <div class="abstract-title">
      <h2>{{abstractObject.title}}</h2>
    </div>
    <div class="details">
      <table class="table">
	<tr>
	  <td>Presenter</td>
	  <td>{{abstractObject.presenter.firstname + ' ' + abstract.presenter.lastname}}</td>
	</tr>
	<tr>
	  <td>Descipline </td> 
	  <td>{{abstractObject.descipline}}</td>
	</tr>
	<tr>
	  <td>Depatrment </td>
	  <td>{{abstractObject.department}}</td>
	</tr>
      </table>
      <div>{{abstractObject.school}}</div>
    </div>
  </div>

  <div class="abstract-body row">
    <p> {{abstractObject.abstractBody}} </p>
  </div>
</div>
