.abstract-body{
    padding: 10px 15px;
    border-radius: 4px;
    background: #ccc;
    border: 1px solid #ddd;
}

.abstract-header{
    margin-bottom: 50px;
}

.abstract-details{
    margin-top: 15px;
    display: flex;
}

.presenter-img-container{
    margin-right: 15px;
}

.authors-name{
    margin-bottom: 5px;
}

