
form{
    margin-top: 5px;
}

.form-group{
    margin-bottom: 5px;
}
.form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

h1,h2,h3,h4,h5,h6{
 margin: 0;   
 color: #5bc0de;
}

.black-modal{
    opacity: 0.4;
}

textarea{
    height: 500px;
    resize: none;
}


.fake-link:hover{
    cursor: pointer;
}

.box-header{
    padding: 5px 10px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
}

.box{
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.box-container{
    color: #777;
    padding: 5px 10px;
}

.actions{
    margin-left: auto;
}

.btn-action{
    height: 30px;
    padding: 4px 12px;
}

.inline-list-item{
    margin-right: 5px;
}

.alert{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}