<link rel="stylesheet" href="assests/css/people.css">
<div>
  <div ng-repeat="advisor in advisors | orderBy: 'personalDetails.firstname'">
    <div class="box">
      <div class="people-container">
	<div class="people-img">
	  <img src="assests/img/{{advisor.personalDetails.img}}" width="100" height="100">
	</div>
	<div class="people-details">
	  <div class="people-name">
	    <a ng-href="{{advisor.professionalDetails.webpage}}" target="_blank">{{advisor.personalDetails.firstname + ' ' + advisor.personalDetails.lastname}}</a>
	  </div>
	  <div class="people-title">
	    {{advisor.professionalDetails.title}}
	  </div>
	  
	  <div style="margin-top:10px">
	    <table class="table people-table">
	      <tr>
		<td> Office </td>
		<td>{{advisor.professionalDetails.office}}</td>
	      </tr>
	      <tr>
		<td>Phone</td>
		<td>{{advisor.professionalDetails.phone}}</td>
	      </tr>
	      <tr>
		<td>Email</td>
		<td>{{advisor.professionalDetails.email}}</td>
	      </tr>
	      <tr>
		<td>Website</td>
		<td>
		  <a ng-href="{{advisor.professionalDetails.webpage}}" target="_blank">
		    {{advisor.professionalDetails.webpage}}
		  </a>
		</td>
	      </tr>

	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
