<div>
  <div class="modal-header">
    <button type="button" ng-click="ok()" class="close">
      <span aria-hidden="true">&times</span>
    </button>
    <h4>
      Instructions for submitting the abstract!
    </h4>
  </div>
  <div class="modal-body">
    <!-- General Instructions -->
    <div>
      <div>
	<h4>What do we look for</h4>
      </div>
      <p>
	FRS reserves the right to reject or alter abstracts based on, but not limited to, the following criteria:
      </p>
      <p>
	<ul>
	  <li>Abstracts do not comply with style guidelines, including excessive length (contributed abstract body text is limited to approximately 1300 characters).
	  </li>
	  <li> 
	    Abstracts contain inappropriate content.
	  </li>
	  <li>
	    Abstracts fall outside of the topical scope of the meeting.
	  </li>
	  <li>
	    The advisior fails to approve or dicides to pull the abstract out.
	  </li>
	</ul>
      </p>
    </div>
    <hr>
    <!-- Form Details -->
    <div>
      <h4>
	Form Submission Instructions
      </h4>
      <div class="form-document">
	<p>
	  <ol>
	    <li ng-repeat="formdoc in formInstructions">{{formdoc}}</li>
	  </ol>
	</p>
      </div>
    </div>
    <hr>
    <!-- Absreact Istructions  -->
    <div>
      <h4>
	What should my abstract contain?
      </h4>
    </div>
    <div>
      <p>
	<ol>
	  <li ng-repeat="instruction in abstractInstructions"> {{instruction}} </li>
	</ol>
      </p>
    </div>
  </div> 
</div>
