    <div class="modal-header">
      <button type="button" ng-click="ok()" class="close">
	<span aria-hidden="true">&times</span>
      </button>
      <h4>
	Instructions for submitting the abstract!
      </h4>
    </div>
    <div class="modal-body">
     <h4>What do we look for</h4>
     FRS reserves the right to reject or alter abstracts based on, but not limited to, the following criteria:
     <ul>
       <li>Abstracts do not comply with style guidelines, including excessive length (contributed abstract body text is limited to approximately 1300 characters).
       </li>
       <li> 
	 Abstracts contain inappropriate content.
       </li>
       <li>
	 Abstracts fall outside of the topical scope of the meeting.
       </li>
       <li>
	 The advisior fails to approve or dicides to pull the abstract out.
       </li>
     </ul>
  </div>
  
