
<div>
  <div>
    <h1>
      What is Fisk Research Symposium?
    </h1>
  </div>
  <div>
    {{slides}}
  </div>
  <div>
    <a class="btn btn-success" ng-href="/fisk-research-symposium/#/abstract/new"> Submit new Abstract </a>
  </div>
  <div class="submission-instructions">
    <div class="submit-instruction-modal">
      <div>
	  <button class="btn btn-info" open-modal>Show Submission Instructions</button>
      </div>
    </div>
    <button signup-modal>
      SignUp
    </button>
  </div>
</div>
